/* Defaults */

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-weight: normal;

}

body.main {
background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    margin: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}





/* Nav Bar */

nav {
    padding: 20px;
    padding-bottom: 0px;
    background-color: white;
    position: relative;
}

nav.trans {
    background-color: transparent;
}

nav.trans ul.topnav li a {
    font-weight: bold;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
    line-height: 62px;
    padding: none;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li.dropdownIcon {
    display: none;
}

ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 53px;
    right: 0;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
/*    min-height: 23px;*/
    text-align: center;
    text-transform: uppercase;
    color: black;
    padding: 14px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}

ul.topnav li a.notTitle:hover {
/*    background-color: white;*/
    font-size: 22px;
}

ul.topnav li a.titleSize:hover {
/*    background-color: white;*/
    font-size: 30px;
}


.logoText {
    font-size: 25px;
    font-weight:normal;
}

ul.topnav li a img {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 75px;
    line-height: 0px;
}

/* Footer */

img.logoImage {
    height: 125px;
    display: block;
    border-radius: 5px;
}

footer {
    
  background: lightgray;  
    box-shadow: 0px -2px black;
  color: black;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 0.8;
    font-weight: 100;
}

footer div.container {
    padding: 0px;
}

footer ul {
    padding: 0px;
    margin: 0px;
}

footer ul li {
    text-decoration: none;
    display: inline-block;
}

.fa {
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.footerRight {
    text-align: center;
}

.footerLeft {
    padding-left: 40px;
}

footer h2 {
    font-weight: normal;
    font-size: 30px;
    padding-bottom: 5px;
}

footer p.logo {
    margin: 0px;
}

input[type="text"] {
    font-size: 20px;
    width: 50%;
    min-width: 100px;
    padding: 10px;
}

.hiddenLinks {
    text-decoration: none;
    margin: 20px;
}

.hiddenLinks li {
    padding-left: 20px;
    padding-right: 20px;


}

.hiddenLinks li a {
    color: black;
}


/* Content */

div.mainPageContent {
    width: 100%;
/*    padding-top: 15%;*/
    text-align: center;
    line-height: 1.5;
}

div.mainPageContent h1, div.mainPageContent h2 {
   background-color: rgba(191,191,191,0.1);
    /* background: radial-gradient(grey 10%,); */
    font-size: 70px;
     color: black;
    box-shadow: 5px 5px 5px   rgba(191,191,191,0.1);    
    font-weight: normal;
    margin: 0px;
      position: fixed; /* or absolute */
  top: 30%;
  left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
   width: 100%; 
}


form button {
    font-size: 20px;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 4px;
    box-shadow: none;
}

/** About Me **/

div.aboutMeContainer {
    padding: 80px;
    padding-top: 0px;
    line-height: 2.7;
/*    padding-right: 0px;*/
}

div.aboutMeContainer div.aboutMeContent {
    margin: auto;
    width: 90%;
}

div.aboutMeContainer h1 {
    font-size: 40px;
    color: black;
    margin-top: 0px;
    font-weight: normal;
}

div.aboutMeContainer h2 {
    font-size: 30px;
    color: grey;
    font-weight: normal;
}

div.aboutMeContainer p {
    font-size: 20px;
    color: black;
}

div.aboutMeImg {
    margin: auto;
    padding: 10px;
    text-align: center;
}

div.aboutMeImg img {
    width: 80%;
}

div.aboutMeContent ul.icons {
    padding: 0px;
}

div.aboutMeContent ul.icons li {
    display: inline-block;
}

div.aboutMeContent ul.icons li a{
    color: black;
    
}



/** Portfolio **/

div.portfolioHeader {
    margin: 60px;
    margin-left: 120px;
}

div.portfolioHeader h1 {
    font-size: 40px;
    color: black;
    font-weight: 100;
}

div.portfolioImageGrid {
    margin-bottom: 60px;
}

div.portfolioImageGrid div.portfolioImage {
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    height: 500px;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

div.portfolioImageGrid div.portfolioImage img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
}

/* The Modal (background) */
.modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
/*    border: 2px solid white;*/
    width: 80%;
    text-align: center;
}


body.modal-open {
    overflow: hidden;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* Mobile */
@media screen and (max-width: 1750px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
        line-height: normal;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
       
    .col-4, .col-6, .col-5, .col-7, .col-3 {
        width: 100%;
        margin: 0;
    }
}